<div class="animated fadeIn">

  <header class="c-header c-header-light px-3 d-flex flex-row-reverse">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    </form>
    <div class="mr-2"></div>
    <button (click)="onNewBook($event)" class="btn btn-outline-primary my-2 my-sm-0" type="button">New Book</button>
  </header>

  <br>

  <div class="row">

    <div class="col-xl-3 col-md-6 col-sm-12" *ngFor="let book of books | async">
      <app-card-book
        [book]="book"
        [routeToNavigate]="'/books/detail/'"
      ></app-card-book>
    </div>

  </div>

</div>

